[2015-04-14 15:07] jinder opened #1 "Minor issues"
Thanks for the great directive.  I've played with your library somewhat and found a few issues that I've fixed.  However, unfortunately my corporate firewall doesn't allow me to submit a PR, so I will highlight them here:
1. 'rg-top' has an incorrect 'left' value.  'left' should change from 50% to 0.
2. Dragging can cause the selection of elements in the panel.  This can be disabled by adding the

[2015-04-14 16:52] Reklino commented on #1
Gotta love corporate firewalls... Thanks for doing the hard work @jinder!

The issues have been fixed using your suggestions on the latest commit. Here they are in a live test as well http://codepen.io/Reklino/pen/yymMWN?editors=101

[2015-04-14 16:53] #1 closed, assigned to Reklino

[2015-04-28 14:37] jinder opened #2 "Width/height should be obtained at dragStart"
Hi, me again!

I've got some resizable panels whose height can change prior to them being resized.  This results in the w/h values being incorrect because they're not updated until the mouseup event is captured.  Is there any reason why these aren't set in dragStart?  This also negates the need for them to be set on mouseup.

[2015-04-28 21:48] Reklino commented on #2
Hey @jinder!

See if this [demo](http://codepen.io/Reklino/pen/zGxXxa) is what you were looking for.
If so, let me know and I'll push up changes.

[2015-04-29 09:14] jinder commented on #2
Perfect - those are the exact modifications I've made on my local copy.  Apologies again for being unable to submit a PR!

[2015-04-29 09:16] jinder commented on #2
Please also consider publishing this to NPM, I think it's great and simple - more people need to see it :)

[2015-04-29 21:06] Reklino commented on #2
Issue fixed. I have also published it to NPM as you suggested.
Hopefully more people will find it. Thanks for the support :)

[2015-04-29 21:06] #2 closed, assigned to Reklino

[2015-04-30 08:56] jinder opened #3 "Module is named 'app'"
Sorry, me again!  Just tried to pull the NPM package, and it appears the directive is registered to a module called 'app'.  This means the usage instructions don't work :/

I've renamed 'app' to  'angularResizable' and then referenced that in my app module.

[2015-04-30 15:08] Reklino commented on #3
Ha! Forgot to change that.
Thanks for pointing it out. It should be fixed now :).

[2015-04-30 15:08] #3 closed, assigned to nobody

[2015-05-11 12:38] nitech opened #4 "Save and restore state"
angular-resizable is great! How would you go about saving and restoring the width/height of each resized section?

[2015-05-12 01:09] Reklino commented on #4
Hm... I assume you mean on a refresh right? If so, I think the best way to go about it would be to create a service that stores the width and height of the element on release. For this I can set up a broadcast event once the dimensions are set.

As far as loading the then stored dimensions back in, we could add a couple of attributes to the directive (r-width and r-height) for setting predefined v

[2015-05-12 06:35] nitech commented on #4
Hey Reklino, yes - I was thinking about maintaining the sizes after a page refresh.

And yea, I agree broadcasting events is the way to go about and then being able to initiate the directive with a predefined with and height would enable me to restore the size.

[2015-05-12 06:56] nitech commented on #4
Come to think about it, at least three events would be nice:

angular-resizable.startResizing
angular-resizable.resizing
angular-resizable.endResizing

That way I can choose whether I want my UI to resize on every pixel the size changes, or if I want to wait till the resizing is finished. For instance I am using ui-grid.info, and resizing the grid is a little processor intensive. With the startRes

[2015-05-13 01:21] Reklino commented on #4
Hey @nitech!

[Check this out](http://codepen.io/Reklino/pen/MwygBB)  and let me know what you think.

I held off on emitting a **'resizing'** event for now because I couldn't think of a use case that couldn't be solved by making use of a start event, end event, and the **'.no-transition' class** that is available when dragging. However, if you've got a use case in mind, let me know and we'll figu

[2015-05-13 05:33] nitech commented on #4
Thanks! This seems to solve the need to store and restore the size. I am not quite eloquent in AngularJs (yet) and therefore I was a bit puzzled as to how to know which specific directive I am listening to. Passing the ID as suggested would make me able to restore a specific instance.

### Without 'px'

I cheated  a bit and implemented somewhat the similar solution yesterday - and then I didn't pa

[2015-05-13 15:42] Reklino commented on #4
Thanks for the feedback. Yeah, there is no built in method for finding a specific instance of a directive that I know of. But using the ID works. If you find a better method, let me know or play around and submit a PR.

As far as nixing the 'px' and passing an integer goes, I guess that'd be fine. My thoughts behind passing a string were to allow for the possibility of someone using some other uni

[2015-05-18 12:28] jinder commented on #4
I was going to submit another bug that highlighted that mouseup event was not getting unregistered.  However, I see that it's fixed in this version!

[2015-05-18 12:54] jinder opened #5 "Mouseup not raised if mouse is over an iframe"
I've spent an hour or so trying to figure out why the resizer was sticking on some occasions.    If you click the resizer, and quickly move it while letting go of the mouse over an iframe, the mouseup event never gets called.  That means if you want to release the resizer, you have to click again.

I've tried a quick few hacks to fix this, and I can't see how to do it easily if you're using a cros

[2015-05-18 14:49] Reklino commented on #4
@nitech I went ahead and pushed these changes. If you had any issues with the changes or have any feedback, feel free to still post it here or open a new issue.

[2015-05-18 14:49] #4 closed, assigned to Reklino

[2015-05-18 15:18] Reklino commented on #5
Ah interesting. I'm guessing you're losing the document mouseup event by hovering over the iframe (which has its own document). Here's a handy [stackoverflow thread](http://stackoverflow.com/questions/5645485/detect-mousemove-when-over-an-iframe) with a few solutions if haven't already seen it.

Just from glancing at it, the simplest solution may be to add a masking element while dragging like you

[2015-05-18 16:28] jinder commented on #5
Pointer-events certainly works, so I think it's probably the best solution.  Could you publish the latest version to NPM too?  Thanks

[2015-05-18 16:28] #5 closed, assigned to nobody

[2015-05-18 16:35] Reklino commented on #5
Yep. Sorry about that :P

[2015-05-22 12:43] jinder commented on #4
So I've tested hooking up to the events, and it works fine for me.  Only change I would recommend is to add `scope.$apply();` after the emits, because the events are raised outside of the angular world and therefore the changes aren't digested automatically.

[2015-05-22 14:50] Reklino commented on #4
@jinder Cool. Let me look at this later. Feel free to fork the codepen, or submit a pull request in the meantime :)

[2015-05-22 14:55] jinder commented on #4
I changed 1.1.0 to this:

[code]

and:

[code]

I see in the codepen that you do the apply() inside your controller.  I guess it's a matter of style more than anything - although usually angular directives do the applying() for you.

[2015-05-22 21:44] Reklino commented on #4
That makes sense to me :). I'll push up those changes.

[2015-06-06 22:46] jbadger opened #8 "Grabber is displayed over element when element height gets too small"
If you grab the vertical grabber above the image on http://codepen.io/Reklino/full/raRaXq/ and drag it up, eventually it will appear over section#two.  This is exacerbated if there is a min-height on the element.  It should always be shown beneath with no overlap.

![screen shot 2015-06-06 at 3 44 53 pm](https://cloud.githubusercontent.com/assets/1226033/8021782/075a00ac-0c63-11e5-8c91-3d24acc8143

[2015-06-10 13:58] cphyc opened #9 "Issue with sizes when you have inline relative size"
When you have a relative size in an inline CSS attribute, for example

[code]

the resize events do not convert the size into the proper absolute size.

[2015-06-11 14:21] cphyc opened #12 "Create new release with new implementation"
Would it be possible to create a new release at commit 6d0fbc769d4bf9489459f26165b9b75ac912f923 ?

[2015-06-11 14:40] Reklino commented on #12
Hey @cphyc :). Do you mean like a major version change? If so, what are the benefits of doing so?

[2015-06-11 14:43] cphyc commented on #12
That or a tag! I'm using the project as a bower dependency so it's always nicer to have a tag/version number instead of a SHA1.

[2015-06-11 16:50] Reklino commented on #12
Okay, I've drafted a new release. Let me know if that helps. This is my first time handling versions and releases on github, so if I do anything weird feel free to call me out :).

[2015-06-12 11:21] cphyc commented on #12
Thanks!

[2015-06-12 21:58] #12 closed, assigned to nobody

[2015-06-15 18:28] nvernooy opened #13 "Drag-area appears under scrollbar when overflow auto is used"
I just want to say this is a really great project and I've been finding it very helpful. I'm just having a problem with my scrollable content. I'm using a flex row layout with two div's side by side. Both are scrollable with overflow: auto in their styling.
This issue arises when I add the resizable direcitve to the left div and setting the drag direction to right. The appended rg-right div appear

[2015-06-20 17:17] Reklino commented on #9
Hey @cphyc. Sorry I'm so late getting to this. I can't seem to recreate this issue. It may be that I am misunderstanding the problem. Can you take a look at [this pen](http://codepen.io/Reklino/pen/BNwVER)? I have set an inline relative width on the resizable container and it seems to be reporting the correct pixel values via the events. Are you wanting it to report _relative_ values?

[2015-06-22 07:50] cphyc commented on #9
Ok, that's weird, I can't reproduce it now…

[2015-06-22 07:50] #9 closed, assigned to nobody

[2015-06-22 13:38] Reklino commented on #9
Lol. I know how that feels. Just let me know if you run into it again and we'll figure it out :)

[2015-06-23 08:12] omichelsen opened #15 "Usage with ngRepeat"
Hi I'm curious if you have a suggestion for using your directive with ngRepeat. Specifically I want drag handles to the right of each box, except for the last one, but I see no way of disabling the directive on the last element?

[2015-06-23 08:58] patlux commented on #15
https://github.com/Reklino/angular-resizable/pull/14

[code]

[2015-06-23 10:47] omichelsen commented on #15
Thanks. Combined it with this CSS to also hide it:

[code]

[2015-06-23 10:47] #15 closed, assigned to nobody

[2015-06-24 13:34] omichelsen opened #16 "Safari and flexbox doesn't work"
Since Safari <=8 still uses the vendor prefix `webkitFlexBasis`, resizing doesn't work.

Solution would be to do feature detection and choose the correct property.

[2015-07-06 07:47] arcadeJHS opened #18 "Get original event inside resizable events"
Is it possible to get the original javascript event inside, for instance, "angular-resizable.resizeEnd"?

[2015-07-06 14:13] Reklino commented on #18
Something like [this](http://codepen.io/Reklino/pen/bdvgyW)? See the console for the event object...

[2015-07-06 15:38] arcadeJHS commented on #18
Yes exactly the solution I've come up by working on your source!
Do you think you'll update the officia repository too?
Thx!

[2015-07-06 16:02] Reklino commented on #18
Just updated the repo :)

[2015-07-06 16:02] #18 closed, assigned to nobody

[2015-07-07 06:47] arcadeJHS commented on #18
Thank you!

[2015-07-08 10:50] arcadeJHS opened #19 "Scope model inside resize events?"
I would like to know if possible to retrieve scope model inside resizeStart/resizeEnd events.
For instance: I am using angular-resizable inside a ng-repeat, and I would like to operate on the underlying model on resizeEnd.
Is it possible to add custom params to resize events?
Obviously, we always have the option of something like: angular.element(e.target).scope()...
Or maybe it's simpler just to

[2015-07-08 16:13] Reklino commented on #19
Hm... I'll have to take a further look at this later. In the meantime, feel free to create an example use case on codepen or something if you get time :)

[2015-07-10 08:13] arcadeJHS commented on #19
Actually I am wrapping the resizable into a custom directive which link it to the underlying model.
Basically, inside the custom directive I listen to resizable events and link them to callback functions defined in the parent controller.
Something like:

[code]

[code]

[2015-07-13 08:17] arcadeJHS opened #20 "Bind resize to grid"
Hi, in the project I am working on I need to bind resizing to a grid, resizing the element only by discrete steps.
I introduced few minor changes into your source code (mainly a new scope param "rGrid", which accepts an x,y grid size array).

If you agree, I would like to submit you the code for a review, maybe through a pull request or putting the code somewhere online.

I also noticed a slight d

[2015-07-15 22:22] Reklino commented on #20
Cool! It's been on my list to implement a resize increment feature so that snapping to a grid would be possible.

At first thought, it seems best to implement something like 'r-increment-x' and 'r-increment-y' so that you can snap to a grid vertically or horizontally without requiring both. Then from there, we'd just need to set up how it renders. I will work towards a solution for this in my spar

[2015-07-16 07:17] arcadeJHS commented on #20
Hi, thx for your interest!
I implemented a first version on my project: a horizontal grid is now working and tested. But maybe could be improved!
Maybe two different properties are better, anyway I intended "rGrid" as an array of [x,y] positions.

Basically I modified the "dragging" function recalculating offset this way:

[code]

[2015-07-16 11:50] arcadeJHS commented on #20
I created a pull request to submit my code.
Mainly the snap to grid functionality, plus other minor changes, like the correction to width (the problem was on IE) and the original size value returned by updateInfo (to keep track of the size before resize).

[2015-07-29 02:17] #16 closed, assigned to nobody

[2015-07-29 02:26] Reklino commented on #8
Hi @jbadger. This should be fixed in the demo now :)

[2015-07-29 02:26] #8 closed, assigned to nobody

[2015-07-29 02:28] Reklino commented on #13
Hi @nvernooy. Glad you like the project :). Sounds like a CSS flexbox issue... I'm honestly no master of flexbox, but if you set up a codepen demonstrating your issue, I'll be happy to see if I can help!

[2015-07-29 13:19] nvernooy commented on #13
Hi @Reklino, sorry but I ended up just going with jquery.
Don't know if you want to keep this issue open or not...

[2015-07-29 13:39] Reklino commented on #13
No problem :). Whatever gets the job done man.

[2015-07-29 13:39] #13 closed, assigned to nobody

[2015-08-14 08:33] PhilippSoehnlein opened #22 "Angular Dependency in bower.json"
Hi,

the bower.json states that angular-resizable works with Angular 1.3, which leads to a resolution request by bower when you do a `bower install` in a project which uses Angular 1.4.
Because I doubt that there are real compatibility problems with Angular != 1.3 (and Angular < 2) I would recommend to set the version statement in bower.json to 1.*.

[2015-08-14 13:29] Reklino commented on #22
Merged your pull request. Thanks @PhilippSoehnlein :)

[2015-08-14 13:29] #22 closed, assigned to nobody

[2015-09-02 19:31] mattsawyer77 commented on #16
Just tried your codepen demo on Safari 8.0.8. The layout is broken, and the resizing handles don't work.

[2015-09-03 03:20] Reklino commented on #16
@mattsawyer77 right you are sir. I just fixed it by enabling 'autoprefixer' in the pen. Safari still requires -webkit- prefix for flexbox.

[2015-09-03 04:37] mattsawyer77 commented on #16
nice. the flexbox looks right now, but the handles don't seem to be draggable.

[2015-09-03 13:07] Reklino commented on #16
Yep. You're right. Just updated with the latest version. Working fine now :)

[2015-09-03 19:02] eddedd88 opened #25 "events are only being $emitted, should they also be $broadcasted"
I was trying to resize a table inside of a resizable container by trying to hook into the 'resizeEnd' event.

My solution was to catch the event at the top controller and then $broadcast an event.

Would it be better if this component also broadcasted these events instead of having them to echo back?

[2015-09-30 04:59] cofyc opened #26 "How to limit height of box?"
I want to resize a pane with a min height limit.

[2015-09-30 13:27] Reklino commented on #26
You should be able to just use the `min-height` property in css :). The boxes in the demo are set to `min-height: 50px;`

[2015-09-30 15:18] cofyc commented on #26
Thanks!

—
Yecheng Fu

On Wed, Sep 30, 2015 at 9:27 PM, Jacob notifications@github.com wrote:

[2015-09-30 15:51] #26 closed, assigned to nobody

[2015-10-02 23:34] HighTechnocrat opened #27 "rGrabber doesn't compile HTML"
I would like the ability to use a full template in rGrabber so that I can do things like add ngClick functionality to elements within the grabber.

[2015-10-05 08:33] patlux opened #28 "Publish v1.2.0 to npm"
Hi,

can you please publish the recent version to npmjs?

https://www.npmjs.com/package/angular-resizable

[2015-10-06 19:22] jedfoster opened #29 "Dynamic directions values"
I've got angular-resizable working very well on my app, thank you! Now I'm trying to wire it up to user preferences; e.g. a user can change the orientation of resizable panels on the page.

Using this, `r-directions="[(preferences.orientation === 'vertical' ? 'bottom' : 'right')]"`, I am able to set the orientation correctly on the initial page load (`preferences` is an object stored in `localStor

[2015-10-07 15:51] jedfoster commented on #29
FWIW, I came up with this:

[code]

Which allows me to use this in the template: `r-directions="{{editorOrientation()}}"`, where `editorOrientation` performs the necessary property checking and returns a string for the desired direction. It works well enough for my purposes, but I'm still curious if there's a better, more "Angular" way to accomplish this.

[2015-10-16 18:38] Dilatorily commented on #29
+1

[2015-10-25 12:17] denisgursky commented on #28
+1

[2015-10-26 20:58] Reklino commented on #29
Hey @jedfoster ! Nice work :). Based on your concept, I built out a [codepen](http://codepen.io/Reklino/pen/ZbxqMx/) that I think demonstrates what you're requesting. Take a look and let me know what you think! To toggle the resize directions, just click on the checkboxes in the upper left.

[2015-10-26 21:32] Reklino commented on #28
Done. Sorry about that guys...

[2015-10-26 21:32] #28 closed, assigned to nobody

[2015-10-27 16:25] Reklino commented on #19
I think your solution is clever, and it looks like it will work fine. I'm open to other ways to handle this... but for now I'm going to close this issue with your wrapper directive being the solution for now.

[2015-10-27 16:25] #19 closed, assigned to nobody

[2015-10-27 16:54] Reklino commented on #25
Hm... Because of the directive's isolated scope, we'd have to use

[code]

I don't see why this should cause any issues though. See [this pen](http://codepen.io/Reklino/pen/VvxeKz/) for an example of how to implement it yourself. I'll add this to the enhancements for the next version.

[2015-10-27 16:54] #25 closed, assigned to nobody

[2015-11-13 17:21] jedfoster commented on #29
That codepen looks good to me. Thanks!

[2015-11-19 15:28] kurybr opened #32 "Using Model with Resizable #Ideia"
A Ideia, is make the param to get a model and return callback with  model changed

[2015-11-24 07:19] oriko opened #33 "Minimum height for resizable"
Is there a way to set min height? I want my component to resize to height not lower than 300px.

Thanks,

[2015-11-24 20:36] Reklino commented on #33
The best way to do this is to set a min-height in the CSS. See the codepen example for details :)

[2015-11-24 20:36] #33 closed, assigned to nobody

[2015-12-16 04:14] truyen93 opened #36 "Have any option for resize?"
Hi,
Have any option for how object will be resize. I mean I just want to resize the left side while keep right side.
like your demo
http://codepen.io/Reklino/pen/zGxXxa

Thank!!

[2015-12-16 06:31] #36 closed, assigned to nobody

[2015-12-19 22:57] peazz opened #38 "Percentage Based Width?"
Nice directive! Apologies if this is easy, still pretty new to Angular!

I wondered if its possible to return the width in percentage form?

[2015-12-19 23:07] peazz commented on #38
Just thought about this and realized I can create another directive to get the pecentage based width based on pixel values.

When complete I will add it in here

[2015-12-21 17:14] Reklino commented on #36
For anyone else who finds this issue with the same question, the solution lies in adjusting the `r-centered-x` and/or `r-centered-y` attributes. When the element is centered, the velocity of the resize needs to be two-fold to keep up with the cursor. It's kinda weird to think about, but you'll notice when you play around with it.

[2015-12-29 19:40] #29 closed, assigned to Reklino

[2016-01-04 20:57] cmichaelgraham opened #39 "flexbox + ui grid + angular-resizable?"
@Reklino - could `flexbox + angular-resizable + ui grid` produce a resizing ui grid that can shrink?

[2016-01-04 21:05] Reklino commented on #39
@cmichaelgraham I believe so... But from my experience with UI-Grid, you may have to trigger the resize manually. I'd experiment with using the `resizing` event in `angular-resizable` to trigger the resize. If you get it working, throw up a codepen here :D

[2016-01-05 06:21] ryanmarshall opened #40 "Constrain Proportions options"
Is there a way to constrain proportions to a specified width and height? I'm looking to define an initial width/height but they can resize it constrained.

Am i overlooking an option? If not maybe i can add it.

[2016-01-05 14:21] cmichaelgraham commented on #39
ok. so here's the starting point without using `angular-resizable`:

the [running sample](http://cmichaelgraham.github.io/ng-ui-grid-flexbox/index.html) shows the ui grid in a flexbox. it starts out with scrollbars. if you grow the window, it resizes fine. if you then shrink the window, the grid maintains its largest size and scrollbars appear.

here's the repo: https://github.com/cmichaelgraham/n

[2016-01-06 01:17] cmichaelgraham commented on #39
ok, got the above working without `angular-resizable` - will circle back to implement a resizing version at some point...

i wrapped the ui grid div in a div that uses flex to grow and made it position relative, then I positioned the ui grid to be absolution with top, left, bottom, and right to 0px (well, right and bottom are 2px, to be honest :wink:)

Repo: https://github.com/cmichaelgraham/ng-ui

[2016-01-06 01:43] Reklino commented on #40
It's not an option yet, but it would definitely be handy. Pull requests welcome :)

[2016-01-06 22:02] guikubivan opened #41 "Add minimum width/height options"
I tried to implement this with the following. I'm not familiar with flexbox so I ignored that, but something along these lines would be great.

<pre>
            scope: {
                rDirections: "=",
                rCenteredX: "=",
                rCenteredY: "=",
                rWidth: "=",
                rHeight: "=",
                rFlex: "=",
                rGrabber: "@",

[2016-01-07 03:07] ryanmarshall commented on #40
I'm integrating the old jquery resize for now but it's clunky and would rather this but may take some time to get to it.

[2016-01-11 09:55] vorant opened #42 "Add information at README.md about rDisabled"
Add information at `README.md` about `rDisabled` functional with examples. http://codepen.io/anon/pen/LGLNpX

[2016-01-19 18:22] Parziphal opened #43 "Usable with Angular Material"
I just edited the source locally so this directive works with [Angular Material's Textarea](https://material.angularjs.org/latest/demo/input). Perhaps this could be of use or provide some hints. Perhaps not, but here it is anyway.

In order to use this with Angular Material's Textarea, the resizable attributes must be set to the `<md-input-container>` element:

[code]

If the attributes are set to

[2016-01-21 15:50] Ciriak opened #44 "How can i target the container with the event "angular-resizable.resizeEnd" ?"
All in the title, nothing interesting inside "event', or 'args', the doc say something about "info.evt : original mouse event object" but its alway undefined for me.

[2016-02-18 10:21] ruffiem opened #46 "Touch support for Webkit ?"
Hello,

There seems to be an issue with - at least - Chrome when trying to resize an panel, is there anyone else who ran into the same problem ?

Thank you !

M

EDIT : Bower version has no touch support. Sorry.

[2016-02-18 10:29] #46 closed, assigned to nobody

[2016-03-08 14:24] jeppech opened #47 "Update npm"
Hi. The latest releases on npmjs.org and here on Github, is not in sync with the latest repo changes, I.e, the rNoThrottle feature is missing from the releases both places.

[2016-03-30 19:01] joeSaad opened #48 "Overflowing content when resizing"
I like this library. However when I put any few paragraphs inside any of the containers and start resizing, the content starts overflowing out of the section tag. I have tried changing the overflow property but that didn't work. Example is here: http://codepen.io/joesaad/pen/jqLpdE

[2016-03-31 06:50] zakdances opened #49 "Error: [$compile:multidir] Multiple directives asking for new/isolated scope"
Fails when using with Angular `1.5` component directives:

`Error: [$compile:multidir] Multiple directives [myComponent, resizable (module: angularResizable)] asking for new/isolated scope on: <my-component resizable="resizable" r-directions="['bottom', 'right']" r-flex="true">`

[2016-04-05 22:16] joeSaad opened #50 "Resizing not working when nesting rows"
Trying to nest rows for some complex layouts that have resizable rows inside the parent row.
Here's an example:
http://codepen.io/joesaad/pen/wGPxem

[2016-04-09 08:11] agaurav opened #52 "Please rename direcive"
The `resizable` directive is colliding with another directive in a data-table module i am using. I have already requested them to rename it as per the best naming convention followed as discussed in this thread [Directive Name Collision Issues and Best Practices #536](https://github.com/angular-ui/angular-google-maps/issues/536)
As it's much easier for you to do the renaming, will save me the effo

[2016-04-13 16:36] datalin commented on #38
This would be an awesome feature, cant go responsive without this.

[2016-05-11 13:32] designnotdrum commented on #41
Why add this to the directive when you can specify both min and max widths/heights in CSS for whatever you're trying to resize?

[2016-05-12 06:41] punit1108 commented on #48
Facing the same problem. Tried putting `!important`, but didnt work.

[2016-05-21 07:51] waltzonice commented on #39
@cmichaelgraham - Did you ever get it working with the angular-resizable? This is exactly what I want to do...

[2016-05-21 16:26] x3p8z opened #54 "Issue with size adjustment after resizeEnd event"
Hello everyone,

I have a problem that is demonstrated in the following example:
[http://codepen.io/x3p8z/pen/BKXBPx](http://codepen.io/x3p8z/pen/BKXBPx)

In this example, only line 21 in the JS file is changed from the original demo to:
`$scope.dynamicSize.height = 50;`

The expected behavior is that after every vertical resize, the size is reset to 50 px. This works the first time, but not for t

[2016-05-27 18:26] aphillipspq opened #55 "Bower Install is installing version dependent on angular#~1.3.15 and doesn't match the repo"
Okay, so I'm not sure what I'm doing wrong, but bower install seems to keep pulling this component with angular#~1.3.15, when on the repo it says "angular": "~1.*"

[2016-07-05 08:05] doiyuki commented on #49
I met same error. How do I fix it?

[2016-07-05 15:17] b2kdaman commented on #55
Same stuff here. Can't get it to install via Bower. I'm on angular 1.3.6(for reasons) and during install it says that there's no suitable version

[2016-07-05 15:24] aphillipspq commented on #55
There essentially needs to be another release done in-order to take care of this

[2016-07-12 06:40] rutys opened #58 "Please change the bower.json to include min file of js and css"
-   "main": "src/angular-resizable.js",
-  "main": [
        "angular-resizable.min.css",
        "angular-resizable.min.js"
   ],

[2016-08-03 06:38] navneet1058 opened #59 "Angular-Resizable not working on ie 10,9 and 8"
I have used the angular-resizable in our webapp which is working fine on IE10+ browsers but when i try to run the app on IE10, 9 and 8 , the splitter stops working. So just want to get confirmation that the angular-resizable is compatible with those versions of internet explorer or not.

And what will be the possible ways to make it working on lower versions of IE. Thanks in advance.

[2016-08-12 09:28] pgschr opened #60 "How to remove the grabber?"
I'd like to remove the two line grabber, I tried not including the .css file but that didn't work.

[2016-08-18 18:42] msholly commented on #60
If you're using the compiled CSS, on line 21 you can remove the following code.

`border: 1px solid #ccc`

The additional code on lines 28 and 37 remove two of the borders so they become the two line grabbers, for vertical and horizontal grabbers.

[2016-08-28 10:40] HarelM opened #61 "Please support touch screen from mobile devices"
Can you please support touch from mobile devices?
basically need to add the `touchstart`, `touchend` and `touchmove` when registering to events and removing registration, you can use the following event strings instead of the existing:

[code]

[2016-09-06 14:15] RomaHL opened #62 "Resize a browser window"
What about to call this function:
`$scope.$on("angular-resizable.resizeEnd", function (event, args)`

when I resize not a resizable container, but a browser window?

[2016-09-06 15:35] RomaHL commented on #62
I try call this function in:

[code]

But I don't know how better to call it and make resize all div's...

[2016-09-10 14:34] CW12 opened #64 "Disable resize"
I'd like an option to disable the resize functionality. I.e. what I'm looking for is an element that is resizable when a condition is true and not when it's false (so I can use an "Edit mode" button, and my div can only be resized when editmode == true)

[2016-09-13 19:00] Leward commented on #49
I experience the same behaviour because the directive declares an isolated scope. I think we should make this directive not to use an isolated scope as this makes it not usable with containers that will have content and bindings which will be broken by the isolated scope.

[2016-11-07 11:59] mrzepinski commented on #41
@designnotdrum When you have nested elements that inherit height from the parent it's important to have strict values.

My PR is here: #66

@guikubivan Thanks for your issue ;)

[2016-11-18 09:42] CaporalDead commented on #55
You can also do :

[code]

[2016-12-08 14:13] patrikx3 opened #68 "Bower missing files"
It is like this:
![image](https://cloud.githubusercontent.com/assets/4770180/21013059/e3c4af86-bd58-11e6-847b-51d3a9a3d057.png)

Should be like this:
![image](https://cloud.githubusercontent.com/assets/4770180/21013069/ed35dd88-bd58-11e6-9d4c-28c73408966e.png)

[2016-12-08 14:14] patrikx3 commented on #68
MAIN

[2016-12-12 09:53] jackcruz commented on #55
if I do what @CaporalDead says, it works. It installs it.
But when I remove the bower_components folder, and do a bower install, then the error is back.
When do you thing you will be able to release a new version to fix this issue?

[2016-12-12 09:59] jackcruz commented on #55
@Reklino is it possible to get a new release to fix this issue? I really want to use this on my project but it makes it not possible to use in a CI for instance.

[2016-12-13 01:27] Halomaple commented on #64
Yes, this will be quite useful when using it to wrap a side panel whose resizing functionality suppose to be configurable.

[2016-12-13 08:21] CW12 commented on #64
Hi Halo, I hired someone to make this mod for me - please see Kapil's fork: https://github.com/kapil2708/angular-resizable - it might not do exactly what you need but may be a start.

[2017-02-08 18:08] Cordobo commented on #48
Late to the party :)
Adding
`overflow: hidden;`
`overflow-y: auto;`
to the section-tag should solve this problem (at least adding it to your code-pen worked).

[2017-02-10 11:46] iboffa opened #69 "Internet Explorer: top direction selected, section expanding bottom side"
Hi, I have defined my resizable sectionthis way:

<section id="lowthird" resizable r-flex="true" r-directions="['top']" layout="row" layout-align="center stretch" class="lowthird top-border">

Here there are the involved classes:

.lowthird{
	min-height: 225px;
	background: #0f1423; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0f1423, #364c63); /* For S

[2017-02-15 11:09] chennas opened #70 "General question"
Hi,
We are trying to implement the flexible dashboard for our requirement. we are using the packery to have the backfill of the cards when a card is removed or for reshuffling the cards on the dashboard.

We are trying to implement the resize functionality as how in this directive is used, on the top of packery.

We are using the below packery angular directive from git hub, this directive wraps t

[2017-02-16 12:45] santiagodoldan opened #71 "Lot of open PRs"
@Reklino I was wondering if you want another dev to continue updating the gem, I can help with that, let me know and I can create a fork and start merging those PRs and adding new features

[2017-02-24 10:17] cbranca opened #73 "Is it compatible with Angular Material?"
I'm trying to use this library with Angular Material but I can't get it work.
Look at this example:
I have a row with 2 md-content, one with flex at 20% and one with flex at 80%. My objective is to enlarge  (resize) the first md-content if needed.
[code]
so I tried this (and also the opposite)
[code]

How can I get it to work?

[2017-02-24 11:28] cbranca commented on #73
For now I have solved with this workaround:
[code]

[2017-03-01 10:38] aitorMolinuevo commented on #61
It would be great if this awesome directive had touch screen support.

[2017-03-06 21:12] HarelM commented on #61
I have basically rewritten this directive in typescript in my project:
https://github.com/IsraelHikingMap/Site/blob/master/IsrealHiking.Web/directives/DraggableResizableDirective.ts
Feel free to use it - it also supports moving not just resizing.
Can be seen in action in my site:
https://israelhiking.osm.org.il when clicking on the "height graph" in the right pane;
![image](https://cloud.githubuse

[2017-05-16 08:31] punpouet opened #74 "unbind handle"
Hello!

I am actually facing a problem.
Currently developping an app with resizable columns (so far it works), I plan to put a "condense" button which will wrap the column making it small. I tried many ways to remove the handle and so far no luck. If the handle is not removed, when I press the button, the handle does not adapt to the new content, so the handle does not move and there is a lot of s

[2017-06-02 08:53] remytesta opened #76 "Is it compatible with Angular 1.6.4"
I just asking because Bower tell me to install Angular 1.3.20 after `bower install angular-resizable`

[2017-06-16 18:44] rojasjandro89 commented on #76
I don't think it does. I'm using 1.6.1 and it gives me the following error:
Error: $compile:multidir
Multiple Directive Resource Contention

[2017-06-16 18:48] rojasjandro89 commented on #49
Nope, I tried with a non-isolated scope directive and it didn't work. I even tried inside the controller and it gives me the same error...could it be a compatibility issue? I'm using 1.6.1

[2017-06-19 14:39] rojasjandro89 commented on #49
I think I found the problem (at least with my project). I was using a wrapper of jQuery UI and it already contained a resizable directive with exactly the same name, I renamed the directive and problem solved. Work like a charm now. I was working under the assumption that colliding angular directives will be overridden...

[2017-06-20 13:39] abkieling commented on #71
This is a great project. Let's keep it active. I'd prefer to contribute to the project instead of forking it.

[2017-07-14 10:32] sbrki opened #77 ""Usage" section of README not clear enough"
Please elaborate points **4** and **5**,
and add some sample code as well.

[2017-07-28 03:19] dhwang commented on #43
Interesting that you don't get a isolate scope conflict issue.

[2017-08-15 13:47] developandbehappy opened #79 "Is it possible resize table ?"
[code]

I have this code. can i resize it with angular-resizable?

[2017-08-15 14:05] #79 closed, assigned to nobody

[2017-08-16 10:21] developandbehappy opened #80 "angular-resizable rNoThrottle doesn't work"
[code]

i try use rNoThrottle attribute, but it doesnt work for me.

[2017-08-17 11:51] developandbehappy opened #81 "Get current element of resize"
[code]

I would want get id or class

[2017-08-17 11:54] #81 closed, assigned to nobody

[2017-08-19 11:51] developandbehappy commented on #80
update bower please!!

[2017-11-07 15:52] paskwale commented on #80
Yes, i confirm...with 'bower i' it's installed the 1.2.0 version but is not imported the last version of the file 'angular-resizable.js' that is different from the actual in the current repository.

[2017-11-18 06:57] stanleyxu2005 commented on #76
Please post your code and let's figure out the reason. FYI, I have successfully created a new example with angular 1.6.6

[2017-11-18 06:59] stanleyxu2005 commented on #71
Yes. This repo looks not to be maintained actively. I hope we are able to create a new forked project without violating any license.

[2018-02-13 01:47] JonGaryOutlier opened #82 "No Copyright notice"
I know this is silly, but I'm using angular-resizable for my job, and the lawyers insist that I provide the copyright notice from each third-party component. This project doesn't have one that I've been able to find. If you would just toss something into the bottom of the Readme file, I would really appreciate it.

[2018-02-13 01:54] Reklino commented on #82
Hm... This is new to me. Wouldn't a copyright notice give me **more** ownership and only make the legalities **more** complicated?

[2018-02-13 16:27] JonGaryOutlier commented on #82
One would think lol. Red tape is so much fun.

[2018-03-10 22:42] awkale commented on #76
@stanleyxu2005 Do you have an example of your working version that works with angular 1.6?

[2018-03-11 03:13] stanleyxu2005 commented on #76
@awkale Here is a live example with the latest angular 1.6.9 https://codepen.io/stanleyxu2005/pen/dmoywj

[2018-03-27 01:14] RoninGonan opened #84 "not an issue but a nice to have. Handles for resizing hidden by expression"
Let's say you want the handles for resizing not show when your not focusing the element you want to resize. How would you do that?

[2018-06-02 19:15] GNSubrahmanyam opened #85 "No unit tests"

[2018-09-08 18:43] mikegoodstadt opened #86 "Rewritten for Angular 2+ ?"
Hi Jacob,
Love this directive!
Is there any plans to rewrite it for Angular 2+?
Surprised if it has not been attempted already!
But before trying to myself, I want to check in case someone has already done so...
Many thanks :)

[2018-09-08 18:56] mikegoodstadt commented on #86
Oops ;P Just spotted https://github.com/11mb/angular-resizable

[2018-09-13 10:05] laurajjerez commented on #85
Can you include Jasmine test of directive?

[2018-09-29 08:55] #86 closed, assigned to nobody

[2019-11-20 05:35] PSavrovsky commented on #80
@Reklino, issue still exists.

[2020-12-21 09:39] #42 closed, assigned to nobody

[2021-04-16 09:43] brusdev opened #88 "No license file"
ActiveMQ Artemis could have a licensing issue distributing your library without a license file, see https://github.com/apache/activemq-artemis/pull/3546
Could you add a license file, please?

[2021-04-21 13:12] clebertsuconic commented on #82
@Reklino Can you consider adding the license please, if you don't want to provide a LICENSE your project is pretty much outside of the MIT license, and you should either hide the project as close source, or provide the LICENSE.

Or if you do care about copyright, use a more restrictive license... at least we would know what license is applied to this and people would just look for an alternative i

[2021-05-10 17:55] Reklino commented on #82
Done! Sorry it took me so long to get around to this.

[2021-05-10 17:55] #82 closed, assigned to nobody